@import './utils/functions';
@import './utils/mixins_screen_sizes';
@import './utils/mixins_fonts';
@import './utils/fonts';
@import './utils/mixins_responsive';

$ysabeau-normal: 'Ysabeau-Normal', arial, sans-serif;
$ysabeau-medium: 'Ysabeau-Medium', arial, sans-serif;
$ysabeau-semibold: 'Ysabeau-Semibold', arial, sans-serif;
$font-family-futura-book: 'FuturaPT-Book', arial, sans-serif;
$font-family-futura-medium: 'FuturaPT-Medium', arial, sans-serif;
$font-family-runs: 'TTRuns-Trial-Medium', arial, sans-serif;
$white: #fff;
$black: #000;
$orange: #cd531f;
$orange-mixed: #cd531f80;
$yellow: #c98d22;
$gray-blue: #7b94b2;
$gray-blue-light: #879ebd;
$orange-80: rgb(205 83 31 / 80%);
$orange-50: rgb(205 83 31 / 50%);
$yellow-80: rgb(201 141 34 / 100%);
$gray-blue-80: rgb(123 148 178 / 80%);
$blue: #1e00ff;
$background-yellow: #fefaf5;
$background-blue: #f5f9fe;
$modal-overlay: #5e260e99;
$z-index-header: 10;
$z-index-modal-overlay: 10;
$z-index-modal: 11;
